NEXT_PUBLIC_SUPABASE_URL=https://qbqxlljonqcpzhrrsjiy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFicXhsbGpvbnFjcHpocnJzaml5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU2NTA1ODEsImV4cCI6MjA5MTIyNjU4MX0.5yuvFPCXewBOTit74o_nS6bdc4HD9pEWPSP8nUFF_A4
